# Email Configuration
EMAIL_ENABLED=false
EMAIL_HOST=smtp.example.com
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_USER=user@example.com
EMAIL_PASS=password
EMAIL_FROM="Status Page" <no-reply@example.com>
EMAIL_TO=admin@example.com

# Google Chat Configuration
GOOGLE_CHAT_ENABLED=false
GOOGLE_CHAT_WEBHOOK_URL=

# MS Teams Configuration
TEAMS_ENABLED=false
TEAMS_WEBHOOK_URL=
